body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.registratinform {
  margin-top: 50px;
}
.registratinform form input {
  margin-top: 20px;
}

.registratinform form select {
  margin-top: 20px;
}

.loginform {
  margin-top: 50px;
}
.loginform form input {
  margin-top: 20px;
}
